<!-- <ion-list>
  <ion-item button (click)="ToggleLike()">
    <ion-label slot="start">{{'liked' | translate}}</ion-label>
    <ion-icon [ngClass]="isLiked ? 'liked' : 'dis-like'" slot="end" name="heart"></ion-icon>
  </ion-item>
  <ion-item button (click)="ToggleSave()">
    <ion-label slot="start">{{'saved' | translate}}</ion-label>
    <ion-icon [ngClass]="isSaved ? 'saved' : 'dis-like'" slot="end" name="bookmark"></ion-icon>
  </ion-item>
  <ion-item lines="none" detail="false" button (click)="close()">{{'close' | translate}}</ion-item>
</ion-list> -->