<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>{{'Brands' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <app-header [isHasSearch]="true" (searchTextEvent)="filterUsers($event)" [headerName]="'users'"></app-header>-->


<ion-content>

  <ion-list *ngIf="isAdmin && (users | async)?.length > 0">
    <ion-item-sliding *ngFor="let item of users | async; last as last">
      <ion-item [lines]="last ? 'none' : 'full'">
        <ion-avatar slot="start">
          <img [src]="(item.image && item.image !== null && item.image !== null) ? item.image : defaultImage"
            loading="lazy" alt="img">
        </ion-avatar>
        <ion-label class="ion-no-margin">
          <h4 class="my-0">{{item.name}}</h4>
        </ion-label>
        <ng-container>
          <ion-badge slot="end" color="success" *ngIf="item.status === accountStatus.approved">
            {{'approved' | translate}}
          </ion-badge>
          <ion-badge slot="end" color="warning" *ngIf="item.status === accountStatus.pending">
            {{'pending' | translate}}
          </ion-badge>
          <ion-badge slot="end" color="danger" *ngIf="item.status === accountStatus.blocked">
            {{'blocked' | translate}}
          </ion-badge>
        </ng-container>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="light" (click)="remove(item)">
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option *ngIf="item.status !== accountStatus.blocked" color="light" (click)="block(item)">
          <ion-icon color="danger" name="close-circle"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="item.status !== accountStatus.pending" color="light" (click)="pending(item)">
          <ion-icon color="warning" name="help-circle"></ion-icon>
        </ion-item-option>
        <ion-item-option *ngIf="item.status !== accountStatus.approved" color="light" (click)="approved(item)">
          <ion-icon color="success" name="checkmark-circle"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



  <ng-container *ngIf=" isUser && (users | async)?.length > 0">
    <ion-card *ngFor="let item of users | async">
      <div class="user-info">
        <img [src]="item.image ?? defaultImage" class="user-image" alt="img" loading="lazy" />
        <ion-note (click)="viewDetails(item)">{{item.name}}</ion-note>
        <ng-container side="start">
          <ng-container *ngIf="item.subscriberList">
            <ng-container *ngIf="item.subscriberList.length === 0 || !isUserInList(item)">
              <ion-badge slot="start" (click)="subscribe(item)"></ion-badge>
              <ion-icon color="success" name="notifications-outline" (click)="subscribe(item)"></ion-icon>
            </ng-container>

            <ng-container *ngFor="let a of item.subscriberList">
              <ion-item-option *ngIf="a.userId === userId && a.subStatus === subStatus.unSubscribe" color="light"
                (click)="subscribe(item)">
                <ion-icon color="success" name="notifications-outline" (click)="subscribe(item)"></ion-icon>
              </ion-item-option>
            </ng-container>

            <ng-container *ngFor="let a of item.subscriberList">
              <ion-item-option color="light" *ngIf="(a.subStatus === subStatus.subscribe && a.userId === userId)"
                (click)="unsubscribe(item)">
                <ion-icon color="danger" name="notifications-off-outline"></ion-icon>
              </ion-item-option>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
      <ion-card-content>
        <ng-container>
          <ion-badge slot="end" *ngIf="getUserStatus(item) === subStatus.subscribe">
            {{'Subscribed' | translate}}
          </ion-badge>
          <!-- <ion-badge slot="end"
            *ngIf="getUserStatus(item) ===subStatus.unSubscribe || getUserStatus(item) === undefined">
            {{'Subscribe Owner' | translate}}
          </ion-badge> -->
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ng-container>



  <!-- <ng-template #noData>
    No data
  </ng-template> -->

</ion-content>