<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title> 
        <ion-text color="primary">
          {{currentUser.name}}
        </ion-text>
      </ion-card-title>

      <ion-card-subtitle>
        <ion-icon name="mail"></ion-icon>
        {{currentUser.email}}
      </ion-card-subtitle>
   
    </ion-card-header>
  
    <ion-card-content>
      <img [src]="currentUser.image ? currentUser.image : defaultImage" alt="img" class="userImage">
        <p *ngIf="currentUser.mobile">
          <span>
            <ion-icon name="phone-portrait"></ion-icon>
          </span>
          {{currentUser.mobile}}
        </p>
    </ion-card-content>
  </ion-card>
</ion-content> -->
