<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="backToPreviousPage()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title size="small">
      <span *ngIf="currentLanguage === 'ar' && company && isCompanyLocation">{{company.arabicCompanyName}}</span>
      <span *ngIf="currentLanguage === 'en' && company && isCompanyLocation">{{company.englishCompanyName}}</span>
      <span *ngIf="isMyCurrentLocation">{{'currentLocation' | translate}}</span>
      <span *ngIf="isNearby">{{'nearToMe' | translate}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapDetails"></div>
</ion-content> -->
