<ng-container [formGroup]="formGroup.form">
  <mat-form-field appearance="outline" class="w-100 mt-2">
    <mat-label>{{ label}}</mat-label>
    <mat-select [formControlName]="controlName" [multiple]="isMultiple">
      <mat-option *ngFor="let item of data" [value]="item[id]">
        <div class="d-flex flex-row align-items-center">
          <ng-container>{{ item[display] }}</ng-container>
        </div>
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.form.get(controlName).hasError('required')">{{ 'Field Is Required'}}</mat-error>
  </mat-form-field>
</ng-container>