<ion-header class="custom-header">
  <ion-toolbar color="light">
    <ion-title>{{'login' | translate}}</ion-title>
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="light" class="ion-no-padding">
  <form [formGroup]="loginForm" novalidate>
    <ion-row class="ion-padding ion-margin-top ion-no-padding-bottom">
      <ion-col size="12" class="ion-margin-top">
        <app-input formControlName="email" [label]="'email' | translate"></app-input>
      </ion-col>
      <ion-col size="12">
        <app-input formControlName="password" [label]="'password' | translate" [hasEyeIcon]="true"></app-input>
      </ion-col>
      <ion-col size="12" (click)="openForgetPasswordModal()">
        <div class="d-flex justify-content-end">
          <ion-text color="dark">{{'forgotPassword' | translate}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="block" type="submit" class="ion-padding" (click)="login()" color="primary">
    {{'login' | translate}}
  </ion-button>
</ion-footer>