<ion-content color="secondary" class="ion-text-center">
  <div class="d-flex flex-column p-3">
    <div class="d-flex align-items-center flex-column">
      <img src="assets/images/logo.svg" alt="img">
      <ion-text color="secondary">{{'pleaseSelectLanguage' | translate}}</ion-text>
    </div>
    <div class="ion-padding">
      <ion-button (click)="changeLanguage()" expand="block" fill="outline" color="dark" [disabled]="isArabic">
        {{'arabic' | translate}}
      </ion-button>
      <ion-button (click)="changeLanguage()" expand="block" fill="outline" color="dark" class="ion-margin-vertical" [disabled]="!isArabic">
        {{'english' | translate}}
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-button (click)="next()" expand="block" color="primary" class="ion-padding" shape="round" mode="ios">{{'next' | translate}}</ion-button>
  </ion-toolbar>
</ion-footer>