<ion-tabs>
  <ion-tab-bar slot="bottom" mode="md">

    <ion-tab-button tab="home">
      <ion-icon [name]="isTabSelected('home') ? 'home' : 'home-outline'"></ion-icon>
      {{'home' | translate}}
    </ion-tab-button>

    <ion-tab-button tab="categories" *ngIf="!isShopOwner">
      <ion-icon [name]="isTabSelected('categories') ? 'list' : 'list-outline'"></ion-icon>
      {{'categories' | translate}}
    </ion-tab-button>

    <ion-tab-button tab="brands" *ngIf="!isShopOwner">
      <ion-icon [name]="isTabSelected('brands') ? 'basket' : 'basket-outline'"></ion-icon>
      <ion-label>
        <span> {{'Brands'}}</span>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offer" *ngIf="isShopOwner">
      <ion-icon [name]="isTabSelected('offers') ? 'gift' : 'gift-outline'"></ion-icon>
      <ion-label> {{'Offers'}} </ion-label>
    </ion-tab-button>


    <ion-tab-button tab="notifications" *ngIf="!isShopOwner">
      <ng-container *ngIf="(notifications | async)?.length as count">
        <ion-badge color="primary">{{ count }}</ion-badge>
      </ng-container>
      <ion-icon [name]="isTabSelected('notifications') ? 'notifications' : 'notifications-outline'"></ion-icon>
      <ion-label>{{'notifications' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>