<ng-container [formGroup]="formGroup.form">
  <mat-form-field appearance="outline" class="w-100 mt-2">
    <input matInput name="selected_time_A" [formControlName]="controlName" [ngxMatTimepicker]="pickerA"
      [placeholder]="lbl | translate" readonly />
    <mat-icon matSuffix (click)="pickerA.open()">
      watch_later
    </mat-icon>
    <ngx-mat-timepicker #pickerA color="accent" [format]="12" [defaultTime]="'10:00 AM'"></ngx-mat-timepicker>
    <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
    <mat-error *ngIf="formGroup.form.get(controlName).hasError('required')">
      {{'fieldIsRequired' | translate}}
    </mat-error>
  </mat-form-field>
</ng-container>