<ion-content class="ion-padding">

  <div class="c-modalTitle">
    <div>
      <h4>{{'sortBy' | translate}}</h4>
    </div>
    <a href="javascript:void(0)" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </a>
  </div>

  <ion-list>
    <ion-radio-group [(ngModel)]="selectedValue">
      <ion-item>
        <ion-label>{{'aToZ' | translate}}</ion-label>
        <ion-radio value="aToZ" slot="start"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{'rating' | translate}}</ion-label>
        <ion-radio value="rating" slot="start"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{'nearToMe' | translate}}</ion-label>
        <ion-radio slot="start" value="nearToMe"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col size="6">
        <ion-button fill="outline" class="btn-filter" type="button" (click)="reset()">
          {{'reset' | translate}}
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn-filter" type="button" (click)="filter()">
          {{'apply' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>