<div class="review" (click)="openAddEditModal()">
  <ion-text>{{'WriteReviews' | translate}}</ion-text>
  <ion-icon name="chevron-forward-outline"></ion-icon>
</div>
<hr>
<ion-list class="ion-padding-start" *ngIf="(rates | async)?.length > 0; else emptyData">
  <ng-container *ngFor="let item of rates | async; last as last">
    <div class="user-info">
      <img class="user-image" alt="Silhouette of mountains" [src]="getUserImage(item.userId)" />
      <ion-text>{{getUserName(item.userId)}}</ion-text>
      <ion-note> {{(item.date.toMillis()) | date:'dd / MM / yyyy'}}</ion-note>
    </div>
    <div class="row">
      <div>
        <ul [ngClass]="this.isArabic? 'list-inline rating-list ar-list' : 'list-inline rating-list en-list'"
          *ngFor="let star of myStars">
          <li [ngClass]="{'val':(item.stars >= star)}">
            <ion-icon name="star"></ion-icon>
          </li>
        </ul>
      </div>
      <ion-note class="comment">{{item.comment}}</ion-note>
      <ion-icon *ngIf="isAdmin" class="trash-icon" name="trash-outline" color="danger" (click)="remove(item)">
      </ion-icon>
    </div>
    <hr>
  </ng-container>
</ion-list>
<ng-template #emptyData>
  <ion-text class="no-data">{{'NoRating' | translate}}</ion-text>
  <br>
  <ion-text class="no-data">{{'BeTheFirstToRateThisItem'| translate}}</ion-text>
</ng-template>