<ion-content class="ion-text-center" color="secondary">
  <img src="assets/images/logo.svg" alt="img">
  <div class="ion-margin-bottom">
    <h1><ion-text color="dark">What's Trendy</ion-text></h1>
    <h4><ion-text color="dark">{{'letsStart' | translate}}</ion-text></h4>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-button expand="block" color="dark" (click)="register()" shape="round" mode="ios" class="ion-padding">
      {{'signUp' | translate}}
    </ion-button>
    <ion-button expand="block" color="primary" (click)="login()" shape="round" mode="ios" class="ion-padding">
      {{'login' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>