<ion-content scrollY="false">
  <swiper-container (slidechange)="swiperSlideChange($event)" [loop]="false" [pagination]="true" [zoom]="true"
    [autoplay]="true">
    <swiper-slide *ngFor="let image of images">
      <div class="swiper-zoom-container">
        <img [src]="image" class="slide-image" alt="img" loading="lazy" />
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="block" (click)="login()" shape="round" mode="ios" class="ion-padding login-button">
      {{'Login' }}
    </ion-button>
    <ion-button expand="block" color="light" (click)="register()" shape="round" mode="ios"
      class="ion-padding  register-button">
      {{'SignUp' }}
    </ion-button>
  </ion-toolbar>
</ion-footer>