<app-page-header [title]="'favorite' | translate"></app-page-header>

<ion-content color="secondary">
  <ion-grid class="ion-no-padding" *ngIf="(favoriteItems | async)?.length > 0; else noData">
    <ion-row>
      <ion-col sizeLg="3" size="6" class="ion-no-padding" *ngFor="let item of favoriteItems | async">
        <app-favorite-card [item]="item" (fireReload)="reloadList()"></app-favorite-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #emptyData>
    <div class="bg-white h-100 d-flex justify-content-center align-items-center flex-column">
      <!-- <img [src]="'assets/images/page-not-found.svg'" alt="img" loading="lazy" /> -->
      <h5 class="font-weight-bold">{{'Your Favorite Is Empty' | translate}}</h5>
      <!-- <div class="text-muted p-2">{{'emptyFavouriteMsg' | translate}}</div> -->
    </div>
  </ng-template>

  <ng-template #noData>
    <w-skelton *ngIf="isDataLoadingNow; else emptyData"></w-skelton>
  </ng-template>
</ion-content>