.category-image {
  // margin-top: 15px;
  width: 100%;
  height: 190px;
  // width: 150px;
  // height: 120px;
  // border-radius: 20px;
  //   border: 3px solid;
  //   border: 3px solid var(--ion-color-primary);
}

.header-md {
  -webkit-box-shadow: none;
  box-shadow: none;
}

svg {
  margin-top: -3px;
  //   -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
  //     0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  //   box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  //     0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
div.header {
  background: #d700b1;
  width: 100%;
  height: 120px;
  //   border-radius: 0px 0px 50% 50%;
}

// span {
//   width: 20px;
//   height: 20px;
// }

swiper-slide.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 175px;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary);
  max-width: 280px;
  // margin-inline-start: -20px;
  // margin-inline-start: -50px;

  // width: 180px !important;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  // .swiper-wrapper {
  //   align-items: center;
  // }
  // .swiper-slide-active {
  //   width: 180px !important;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  //   text-align: center;
  //   color: var(--ion-color-primary);
  //   // margin-inline-start: -20px;
  //   // margin-inline-start: -50px;
  // }
  // .swiper-slide-prev {
  //   width: 180px !important;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  //   text-align: center;
  //   color: var(--ion-color-primary);
  //   // margin-inline-start: -20px;
  //   // margin-inline-start: -50px;
  // }
  // .swiper-slide-next {
  //   width: 180px !important;
  //   display: flex;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  //   text-align: center;
  //   color: var(--ion-color-primary);
  //   // margin-inline-start: -20px;
  //   // margin-inline-start: -50px;
  // }
}

// swiper-slide ::slotted(swiper-slide) {
//   width: 200px;
//   height: 60%;
// }

swiper-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  //   --swiper-pagination-bullet-inactive-color: var(--ion-color-step-400, #53e01b);
  //   --swiper-pagination-color: var(--ion-color-tertiary, #ff8838);
  //   --swiper-pagination-progressbar-bg-color: rgba(
  //     var(--ion-text-color-rgb, 0, 0, 0),
  //     0.25
  //   );
  //   --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  //   --swiper-scrollbar-drag-bg-color: rgba(
  //     var(--ion-text-color-rgb, 0, 0, 0),
  //     0.5
  //   );

  // width: 100%;
  // height: 60%;
}

// swiper-container::part(bullet-active) {
//   background-color: #e52d8e;
//   width: 16px;
//   height: 16px;
//   margin-bottom: -3px;
// }

// .swiper-pagination-bullet-active {
//   background: var(--swiper-pagination-color, var(--swiper-theme-color));
// }

ion-card.category {
  --background: #ffffff;
  --color: #b40087;
  font-style: italic;
  font-weight: bold;
  width: 200px;
  border-radius: 25px;
  border: 2px solid #e9e9e9;
  margin-top: 0;
}

ion-card.entertainment {
  --background: #ffffff;
  --color: #b40087;
  font-style: italic;
  font-weight: bold;
  width: 260px;
  border-radius: 25px;
  border: 2px solid #e9e9e9;
  margin-top: 0;
}

ion-card-title {
  --color: #52ffe4;
}

#text-style {
  padding: 5px;
  padding-inline-start: 17px;
  font-size: 20px;
  font-style: italic;
}

h4 {
  @extend #text-style;
  color: #575757;
  margin-top: -38px;
  margin-bottom: 0;
}
h5 {
  @extend #text-style;
  color: #d700b1;
  margin-bottom: -7px;
  margin-top: -5px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: 4px;
  color: #ffffff;

  h6 {
    margin-top: 8px;
    margin-inline-start: 16px;
    font-style: italic;
    font-weight: 900;
  }
}

.welcome {
  display: flex;
  align-items: center;
  color: #ffffff;
  ion-text {
    margin-top: 25px;
    margin-inline-start: 149px;
    z-index: 5;
  }
}

.user-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-inline-start: 10px;
}

ion-card-content.main-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0;
}

.top-image {
  width: 100%;
  height: 80px;
  border-radius: 10px;
}
div.category {
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
}
