.category-image {
  width: 100%;
  height: 190px;
}

.header-md {
  -webkit-box-shadow: none;
  box-shadow: none;
}

svg {
  margin-top: -3px;
}
div.header {
  background: #d700b1;
  width: 100%;
  height: 120px;
}

swiper-slide.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 175px;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-primary);
  max-width: 280px;
}

swiper-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

ion-card.category {
  --background: #ffffff;
  --color: #b40087;
  font-style: italic;
  font-weight: bold;
  width: 200px;
  border-radius: 25px;
  border: 2px solid #e9e9e9;
  margin-top: 0;
}

ion-card {
  --background: #ffffff;
  --color: #b40087;
  font-style: italic;
  font-weight: bold;
  width: 260px;
  border-radius: 25px;
  border: 2px solid #e9e9e9;
  margin-top: 0;
}

ion-card-title {
  --color: #52ffe4;
}

#text-style {
  padding: 5px;
  padding-inline-start: 17px;
  font-size: 20px;
  font-style: italic;
}

h4 {
  @extend #text-style;
  color: #575757;
  margin-top: -38px;
  margin-bottom: 0;
}
h5 {
  @extend #text-style;
  color: #d700b1;
  margin-bottom: -7px;
  margin-top: -5px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: 4px;
  color: #ffffff;

  h6 {
    margin-top: 8px;
    margin-inline-start: 16px;
    font-style: italic;
    font-weight: 900;
  }
}

.welcome {
  display: flex;
  align-items: center;
  color: #ffffff;
  ion-text {
    margin-top: 25px;
    margin-inline-start: 149px;
    z-index: 5;
  }
}

.user-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-inline-start: 10px;
}

ion-card-content.main-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0;
}

.top-image {
  width: 100%;
  height: 80px;
  border-radius: 10px;
}
div.category {
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
}
