<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="backToPreviousPage()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="company">
      <span  *ngIf="currentLanguage === 'ar'">{{company.arabicCompanyName}}</span>
      <span  *ngIf="currentLanguage === 'en'">{{company.englishCompanyName}}</span>
    </ion-title>
    <ion-buttons slot="end" (click)="showOptions($event)">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="company">
    <ion-card-header>
      <ion-card-subtitle>
        <ion-text color="primary">
          <span  *ngIf="currentLanguage === 'ar'">{{company.arabicCompanyName}}</span>
          <span  *ngIf="currentLanguage === 'en'">{{company.englishCompanyName}}</span>
        </ion-text>
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-no-padding">
      <img [src]="company.image ? company.image : defalutImage" alt="img" class="img">
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-segment (ionChange)="tabChanged($event)" [scrollable]="true" [mode]="'ios'" #segment>
          <ion-segment-button *ngFor="let tab of tabs" [value]="tab.name">
            <ion-label>{{tab.name | translate}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
 
      <ng-container *ngIf="selectedTab === 'highLight'">
        <ion-col size="12">
          <ion-list>
            <ion-list-header>{{'rating' | translate }}</ion-list-header>
            
            <ion-item *ngIf="rates.length < 1">
              <ion-label> {{'noRating' | translate }} </ion-label>
            </ion-item>

            <div *ngIf="rates.length > 0">
              <ion-item>
                <ion-label> {{likePrecentage | number:'1.0-2' }} % {{'liked' | translate}} </ion-label>
                <ion-note slot="start" >
                  <ion-button color="success" fill="outline">
                    <fa-icon icon="smile"></fa-icon>
                  </ion-button>
                </ion-note>
              </ion-item>
      
              <ion-item>
                <ion-label>  {{okayPrecentage | number:'1.0-2'}} % {{'ItsOkay' | translate}} </ion-label>
                <ion-note slot="start" >
                  <ion-button color="warning" fill="outline">
                    <fa-icon icon="meh"></fa-icon>
                  </ion-button>
                </ion-note>
              </ion-item>
        
              <ion-item>
                <ion-label> {{disLikePrecentage | number:'1.0-2' }} % {{'disLike' | translate}} </ion-label>
                <i class="fas fa-frown"></i>
                <ion-note slot="start" >
                  <ion-button color="danger" fill="outline">
                    <fa-icon icon="meh"></fa-icon>
                  </ion-button>
                </ion-note>
              </ion-item>
            </div>

          </ion-list>
        </ion-col>
        <ion-col size="12" *ngIf="lastThreeUsersReview.length > 0;  else noReviews">
          <div *ngFor="let rev of lastThreeUsersReview">
            <ion-item>
              <ion-avatar slot="start">
                <img [src]="getUserImage(rev)" alt="img">
              </ion-avatar>
              <ion-label>
                <ion-text color="primary">
                  <h2>{{getUserNameOnRate(rev)}}</h2>
                </ion-text>
                <p>{{rev.review}}</p>
              </ion-label>
              <ion-note slot="end" color="secondary">{{rev.date | date}}</ion-note>
            </ion-item>
          </div>
        </ion-col>
      </ng-container>

      <ng-container *ngIf="selectedTab === 'info'">
        <ion-list>
          <ion-item *ngIf="company.addressArabic || company.addressEnglish">
            <ion-label>
              <div class="lbl">{{'address' | translate}}: </div> 
              {{ currentLanguage === 'en' ? company.addressEnglish : company.addressArabic}}</ion-label>
          </ion-item>
          <ion-item *ngIf="company.startTime && company.endTime">
            <ion-label>
              <div class="lbl">{{'hours' | translate}}: </div>
             <span>{{'from' | translate}}</span>
             <span>&nbsp;</span>
             ({{company.startTime | date:'shortTime'}})
             <span>&nbsp;</span>
             <span>{{'to' | translate}}</span>
             <span>&nbsp;</span>
             ({{company.endTime | date:'shortTime'}})
            </ion-label>
          </ion-item>
          <ion-item *ngIf="company.workDaysArabic || company.workDaysEnglish">
            <ion-label>
              <div class="lbl">{{'workDays' | translate}}: </div>
              {{currentLanguage === 'en' ? company.workDaysEnglish : company.workDaysArabic}}
            </ion-label>
          </ion-item>
          <div *ngIf="company.descriptionArabic || company.descriptionEnglish">
            <div class="info">
              <div class="lbl">{{ 'moreInfo' | translate}}: </div>
              <div>
                {{currentLanguage === 'en' ? company.descriptionEnglish : company.descriptionArabic}}
              </div>
            </div>
          </div>


          <ion-item>
            <ion-label>
              <ion-col class="ion-no-padding ion-no-margin ion-text-center">
                <ion-row class="ion-no-padding ion-no-margin">
                  <ion-col>
                    <div class="lbl">{{'menu' | translate}} </div>
                    <ion-button class="map-container" (click)="showMenuImage(company)">
                      <ion-icon name="folder-open-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <div class="lbl">{{'map' | translate}} </div>
                    <ion-button class="map-container" (click)="openMap(company)">
                      <ion-icon name="map"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-col class="ion-no-padding ion-no-margin ion-text-center">
                <ion-row class="ion-no-padding ion-no-margin">
                  <ion-col>
                    <div class="lbl">{{'mobile' | translate}}: </div>
                   <a [href]="'tel:' + company.mobile">{{company.mobile}}</a>
                  </ion-col>
                  <ion-col (click)="openWebsiteLink(company.website)">
                    <div class="lbl">{{'website' | translate}}: </div>
                    {{company.website}}
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-tabs class="tabs">
              <ion-tab-bar>
                <ion-tab-button (click)="addToList()">
                  <ion-icon name="duplicate-sharp"></ion-icon>
                  <ion-label>{{'addToList' | translate}}</ion-label>
                </ion-tab-button>
            
                <ion-tab-button (click)="openMap(company)">
                  <ion-icon name="locate-sharp"></ion-icon>
                  <ion-label>{{'map' | translate}}</ion-label>
                </ion-tab-button>

                <ion-tab-button (click)="rate()">
                  <ion-icon name="star-half-sharp"></ion-icon>
                  <ion-label>{{'rate' | translate}}</ion-label>
                </ion-tab-button>

                <ion-tab-button (click)="addComment()">
                  <ion-icon name="clipboard-sharp"></ion-icon>
                  <ion-label>{{'leaveATip' | translate}}</ion-label>
                </ion-tab-button>
              </ion-tab-bar>
            </ion-tabs>
          </ion-item>
        </ion-list>
      </ng-container>

      <ng-container *ngIf="selectedTab === 'reviews'">
        <ng-template [ngTemplateOutlet]="reviews"></ng-template>
      </ng-container>

      <ng-container *ngIf="selectedTab === 'photos'">
        <div *ngIf="photos.length > 0; else noImages">
          <div *ngFor="let item of photos">
            <img alt="img" [src]="item.image" class="photo">
          </div>
        </div>
        <ng-template #noImages>
          <div class="w-100">
            <app-empty-data></app-empty-data>
          </div>
        </ng-template>
      </ng-container>

    </ion-row>
  </ion-grid>



</ion-content>


<ng-template #reviews>
  <ion-col size="12" *ngIf="usersReview.length > 0; else noReviews">
    <div *ngFor="let rev of usersReview">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="getUserImage(rev)" alt="img">
        </ion-avatar>
        <ion-label>
          <ion-text color="primary">
            <h2>{{getUserNameOnRate(rev)}}</h2>
          </ion-text>
          <p>{{rev.review}}</p>
        </ion-label>
        <ion-note slot="end" color="secondary">{{rev.date | date}}</ion-note>
      </ion-item>
    </div>
  </ion-col>
</ng-template>

<ng-template #noReviews>
  <div class="w-100">
    <app-empty-data></app-empty-data>
  </div>
</ng-template>


<ion-fab *ngIf="selectedTab === 'photos' && role === 'Admin'" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="navigateToAddImagePage()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

 -->
