<!-- <ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-title>{{'Details' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-title>my comp</ion-card-title>
    <ion-card-content>
      <h5>wael</h5>
    </ion-card-content>
  </ion-card>
  <app-rating></app-rating>
</ion-content> -->

<app-page-header [title]="'Details'" [hasBackIcon]="true"></app-page-header>

<ion-content>
  <ng-container *ngIf="offers">
    <ion-card>
      <img [src]="offers.image" alt="img" loading="lazy" />
    </ion-card>
    <div>
      <ng-container *ngIf="offers">
        <span class="heart-icon">
          <span (click)="removeFromFavorite()" *ngIf="isFavorite">
            <ion-icon class="favorite" name="heart"></ion-icon>
          </span>
          <span (click)="addToFavorite()" *ngIf="!isFavorite">
            <ion-icon class="not-favorite" name="heart-outline"></ion-icon>
          </span>
        </span>
      </ng-container>
    </div>

    <div class="details">
      <div class="contact">
        <ion-chip color="tertiary">
          <ion-icon color="primary" name="mail-outline"></ion-icon>
          <ion-label>{{offers.email}}</ion-label>
        </ion-chip>
        <ion-chip color="tertiary">
          <ion-icon color="medium" name="call-outline"></ion-icon>
          <ion-label>{{offers.phoneNumber}}</ion-label>
        </ion-chip>
      </div>









      <div class="price-category">
        <div side="start" *ngIf="(users | async)?.length > 0">
          <ng-container *ngFor="let item of users | async">
            <ng-container *ngIf="item.id === offers.shopOwnerId">
              <ng-container *ngIf="item.subscriberList">

                <ng-container *ngIf="item.subscriberList.length === 0 || !isUserInList(item)">
                  <ion-chip outline color="tertiary" (click)="subscribe(offers.shopOwnerId)">
                    <ion-label color="dark">{{'subscribe'}}</ion-label>
                  </ion-chip>
                </ng-container>

                <ng-container *ngFor="let a of item.subscriberList">
                  <ion-chip outline color="tertiary"
                    *ngIf="a.userId === userId && a.subStatus === subStatus.unSubscribe"
                    (click)="subscribe(offers.shopOwnerId)">
                    <ion-label color="dark">{{'subscribe'}}</ion-label>
                  </ion-chip>
                </ng-container>

                <ng-container *ngFor="let a of item.subscriberList">
                  <ion-chip outline color="tertiary"
                    *ngIf="(a.subStatus === subStatus.subscribe && a.userId === userId)"
                    (click)="unsubscribe(offers.shopOwnerId)">
                    <ion-icon name="notifications-off-outline"></ion-icon>
                    <ion-label color="dark">{{'subscribed'}}</ion-label>
                  </ion-chip>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

        <!-- <ion-chip outline color="tertiary" (click)="subscribe(offers.shopOwnerId)">
          <ion-label color="dark">{{'subscribe'}}</ion-label>
        </ion-chip>

        <ion-chip outline color="tertiary" *ngIf="isSubUserInList(offers.shopOwnerId)"
          (click)="unsubscribe(offers.shopOwnerId)">
          <ion-icon name="notifications-off-outline"></ion-icon>
          <ion-label color="dark">{{'subscribed'}}</ion-label>
        </ion-chip> -->
      </div>

      <div class="contact">
        <hr>
        <div>{{'location' | translate}}:</div>
        {{offers.location}}
      </div>

      <div class="contact">
        <hr>
        <div>{{'Valid From' | translate}}:</div>
        {{offers.startDate.toDate() | date:'mediumDate'}}
      </div>

      <div class="contact">
        <hr>
        <div>{{'Valid until' | translate}}:</div>
        {{offers.endDate.toDate() | date:'mediumDate'}}
      </div>

      <div class="contact">
        <hr>
        <div>{{'description' | translate}}:</div>
        {{offers.description}}
      </div>

      <!-- <div class="contact">
        <hr>
        <div>{{'city' | translate}}:</div>
        {{getCityName(offers.cities)}}
      </div> -->

      <hr>
      <app-rating></app-rating>
    </div>
  </ng-container>

</ion-content>