ion-list {
    width: 100%;
}

.photo {
    margin: 10px 0;
    width: 100%;
    max-height: 263px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border: 0.5px solid #ccc;
    border-radius: 10px;
}

.lbl {
    font-weight: bold;
}

.info {
    padding: 7px 15px;
    border-bottom: 1px solid #DDD;
}

.img {
    width: 100% !important;
    height: 240px !important;
    max-height: 240px !important;
}

.tabs {
    ion-label{
        font-weight: bold;
    }
    ion-icon {
        margin: 0;
        width: 100%;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        padding: 2px;
    }
}