<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{'resetPassword' | translate}}</ion-title>
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="secondary">
  <form [formGroup]="forgetPasswordForm" novalidate>
    <ion-row class="ion-padding">
      <img src="assets/images/logo.svg" alt="img">
      <ion-col size="12">
        <app-input formControlName="email" [label]="'email' | translate"></app-input>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="block" type="submit" class="ion-padding" (click)="send()" color="primary">
    {{'send' | translate}}
  </ion-button>
</ion-footer>
