<!-- <ion-content class="ion-padding">
  <a href="javascript:void(0)" (click)="close()"><ion-icon name="close"></ion-icon></a>

  <form [formGroup]="feedbackForm" novalidate (ngSubmit)="save()">

    <ion-input formControlName="email" type="email" placeholder="{{'email' | translate}}" class="primary-input"

    ></ion-input>
    <ion-textarea formControlName="description" type="text" placeholder="{{'name' | translate}}" class="primary-input"
    ></ion-textarea>

    <div class="ion-margin-top">
      <ion-button expand="block" type="submitted">
        {{'send' | translate}}
      </ion-button>
    </div>
  
  </form>

</ion-content> -->

