<ion-header class="custom-header">
  <ion-toolbar color="light">
    <ion-title>{{'SignUp' }}</ion-title>
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="light" class="ion-no-padding">
  <form [formGroup]="registerForm" novalidate>
    <ion-row class="ion-padding ion-margin-top">

      <ion-col size="12" class="ion-margin-top">
        <app-input formControlName="name" [label]="'Name' "></app-input>
      </ion-col>

      <ion-col size="12">
        <app-input formControlName="email" [label]="'Email' "></app-input>
      </ion-col>

      <ion-col size="12">
        <app-input formControlName="password" [label]="'Password' " [hasEyeIcon]="true"></app-input>
      </ion-col>

      <ion-col size="12">
        <app-input formControlName="confirmPassword" [label]="'Confirm Password' " [hasEyeIcon]="true"></app-input>
      </ion-col>

      <ion-col size="12" class="margin-bottom">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label color="dark">{{'Select Account Type' }}</mat-label>
          <mat-select formControlName="role">
            <mat-option [value]="user">{{'User' }}</mat-option>
            <mat-option [value]="shopOwner">{{'Shop Owner' }}</mat-option>
          </mat-select>
          <mat-error>{{ 'Field Is Required' }}</mat-error>
        </mat-form-field>
      </ion-col>

    </ion-row>
  </form>
</ion-content>

<ion-footer class="io">
  <ion-button expand="block" type="submit" class="ion-padding" (click)="register()" color="primary">
    {{'signUp' }}
  </ion-button>
</ion-footer>