<ion-header class="custom-header">
  <ion-toolbar color="light">
    <ion-title>{{'signUp' | translate}}</ion-title>
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="light" class="ion-no-padding">
  <form [formGroup]="registerForm" novalidate>
    <ion-row class="ion-padding ion-margin-top">

      <ion-col size="12" class="ion-margin-top">
        <app-input formControlName="name" [label]="'name' | translate"></app-input>
      </ion-col>

      <ion-col size="12">
        <app-input formControlName="email" [label]="'email' | translate"></app-input>
      </ion-col>

      <ion-col size="12">
        <app-input formControlName="password" [label]="'password' | translate" [hasEyeIcon]="true"></app-input>
      </ion-col>

      <ion-col size="12">
        <app-input formControlName="confirmPassword" [label]="'confirmPassword' | translate"
          [hasEyeIcon]="true"></app-input>
      </ion-col>

      <ion-col size="12" class="margin-bottom">
        <mat-form-field class="w-100" appearance="fill">
          <mat-label color="dark">{{'selectAccountType' | translate}}</mat-label>
          <mat-select formControlName="role">
            <mat-option [value]="user">{{'user' | translate}}</mat-option>
            <mat-option [value]="shopOwner">{{'shopOwner' | translate}}</mat-option>
          </mat-select>
          <mat-error>{{ 'fieldIsRequired' | translate}}</mat-error>
        </mat-form-field>
      </ion-col>

    </ion-row>
  </form>
</ion-content>

<ion-footer class="io">
  <ion-button expand="block" type="submit" class="ion-padding" (click)="register()" color="primary">
    {{'signUp' | translate}}
  </ion-button>
</ion-footer>