<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{'signUp' | translate}}</ion-title>
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="secondary">
  <form [formGroup]="registerForm" novalidate>
    <ion-row class="ion-padding">
      <ion-col size="12">
        <app-input formControlName="name" [label]="'name' | translate"></app-input>
      </ion-col>
      <ion-col size="12">
        <app-input formControlName="email" [label]="'email' | translate"></app-input>
      </ion-col>
      <ion-col size="12">
        <app-input formControlName="password" [label]="'password' | translate" [hasEyeIcon]="true" ></app-input>
      </ion-col>
      <ion-col size="12">
        <app-input formControlName="confirmPassword" [label]="'confirmPassword' | translate" [hasEyeIcon]="true"></app-input>
      </ion-col>
      <ion-col size="12">
        <ion-text color="dark">
          {{'termsAndConditions' | translate}}
        </ion-text>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="block" type="submit" class="ion-padding" (click)="register()" color="primary">
    {{'signUp' | translate}}
  </ion-button>
</ion-footer>

