<!-- <ng-container [formGroup]="formGroup.form">
  <mat-form-field class="w-100 pt-2" appearance="outline">
    <mat-label>{{lbl | translate}}</mat-label>
    <input matInput [matDatepicker]="picker" [formControlName]="controlName" [min]="minDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker controls="calendar"></mat-datepicker>
    <mat-error *ngIf="formGroup.form.get(controlName).hasError('required')">
      {{'fieldIsRequired' | translate}}
    </mat-error>
  </mat-form-field>
</ng-container> -->

<!-- <mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>  -->