<!-- <ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/Dashboard/Search"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-no-padding">
      <span *ngIf="isTrending">{{'trending' | translate}}</span>
      <span *ngIf="isCommingSoon">{{'commingSoon' | translate}}</span>
      <span *ngIf="isSearchText">{{'searchResult'| translate}}: {{searchText}}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>  
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div *ngIf="!isDataLoading">
    <app-skeleton></app-skeleton>
  </div>  

    <ion-list>
      <div *ngIf="isDataLoading && companies.length > 0">
        <div *ngFor="let item of companies">
          <ion-item (click)="navigateToDetailsPage(item.id)">
            <ion-avatar slot="start">
              <img [src]="item.image ? item.image : defaultAvatar" alt="img">
            </ion-avatar>
            <ion-label>
              <ion-text color="primary">
                <h2  *ngIf="currentLanguage === 'ar'">{{item.arabicCompanyName}}</h2>
                <h2  *ngIf="currentLanguage === 'en'">{{item.englishCompanyName}}</h2>
              </ion-text>
            </ion-label>
            <ion-note slot="end" color="primary">
              <div [ngSwitch]="item.rateNumber">
                <span *ngSwitchCase="0 || null">
                  ---
                </span>
                <span *ngSwitchCase="1">
                  <ion-icon name="star-outline"></ion-icon>
                </span>
                <span *ngSwitchCase="2">
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </span>
                <span *ngSwitchCase="3">
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>

                </span>
                <span *ngSwitchCase="4">
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </span>
                <span *ngSwitchCase="5">
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </span>
              </div>
            </ion-note>
          </ion-item>
          </div>
      </div>
  
    </ion-list>
  <app-empty-data *ngIf="companies.length < 1 && isDataLoading"></app-empty-data>

</ion-content> -->
