.sc-ion-searchbar-md-h {
    --box-shadow: 0 !important;
}
input.searchbar-input.sc-ion-searchbar-md {
    --background: #FFF !important;
}

.btn-filter {
    width: 100%;
    border-radius: 0 !important;
}